{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if page_name == "index" %}
        Encyclopedia
    {% elif page_name == "content_page" %}
        {% if content%}
            {{title}}
        {% else %}
            404
        {% endif %}

    {% endif %}
{% endblock %}

{% block body %}
    {% if page_name == "index" %}
        <h1>All Pages</h1>
        <ul>
            {%for entry in entries %}
                <li><a href="wiki/{{entry}}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    {% elif page_name == "content_page" %}
        {% if content%}
        <form action="../edit/{{title}}" >
            <input type="submit" value="Edit page">
        </form>
            {{content | safe}}
        {% else %}
            {% if not search_error %}
                <h1>Error: "{{title}}" encyclopedia is not found!</h1>
            {% endif %}
        {% endif %}
    {% elif page_name == "search_error" %}
        <h1>Possible matches</h1>
        <ul>
            {% for entry in entries%}
            
                {%if title in entry%} 
                    <li><a href="../wiki/{{entry}}">{{ entry }}</a></li>
                {%endif%}
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
